{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
{% import "macros/forms.html" as forms %}
<div class="alert alert-success">
    {{message}}
</div>
<h1>{{askare.nimi}}</h1>
<p>
    
<form method="post" action="{{base_path}}/askare/{{askare.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa pelin?">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>

<a href="{{base_path}}/askare/{{askare.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Lisäyspäivä:</strong>{{askare.laatimisaika}}</li>
    <li><strong>Tärkeysluokka:</strong> {{askare.tarkeysluokka}}</li>
    <li><strong>Askareaihe:</strong> </li>
    <li><strong>id:</strong>{{askare.id}} </li>


</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{askare.lisatiedot}}
</p>
{%endif %}


{% endblock %}
