{% extends "base.html" %}
{% block content %}
    <h1>Aihe</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>          
            <tr>
                <td>{{aihe.nimi}}</td>
               
                <td><a href="{{base_path}}/aihe/{{aihe.id}}/edit" class="btn btn-default">Muokkaa</a></td>
                <form method="post" action="{{base_path}}/aihe/{{aihe.id}}/destroy">
                    <td><button class="btn btn-danger">Poista</button></td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}
