{% extends "base.html" %}

{% block content %}
<style>
body {
    background-color: gold;
}
</style>

   <h1>Tervetuloa käyttämään Muistilistaa!! :D</h1>
  
  Muistilista on ytimekkäästi sanottuna muistiväline, joka sopii kaikille varhaisdementiasta kärsiville, kuten opiskelijoille joille deadlinen pitäminen tuntuu olevan mahdotonta.

Muistilista muodostuu askareista. Askareelle voidaan antaa tärkeysluokka 1-5 jossa 1 on tärkein ja viisi vähäpätöisin. Lisäksi askare voidaan luokitella ryhmiin esim työ, puhelin numero, koti, ostos yms. Askare voi kuulua enemmän kuin yhteen ryhmään esim tärkeä työ puhelin numero voi kuulua sekä työ että puhelin numero ryhmiin. Tärkeysluokka tai ryhmän valitseminen eivät ole välttämättömiä.

  
{% endblock %}
